.box {
  display: block;
  border: 5px solid gray;

  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 150px;
  padding: 50px;
}
h1 {
  color: red;
  text-align: center;
}
h3 {
  font-size: 75px;
}
h6 {
  color: black;
  text-align: center;
}
h1 span {
  background-color: #fce5e5;
  margin: auto;
}
form {
  margin: auto;
  padding: 25px;
}

input {
  padding: 4px 10px;
  font-size: 16px;
}

.search-form {
  width: 90%;
  text-align: center;
}

.submit {
  width: 70px;
  background-color: #1c87c9;
  color: #ffffff;
}
.card-deck {
  text-align: center;
  justify-content: space-evenly;
}
.Mon {
  border: 1px solid red;
  color: red;
}
.Tues {
  border: 1px solid orange;
}
.Wed {
  border: 1px solid #e8d734;
}
.Thurs {
  border: 1px solid green;
}
.Fri {
  border: 1px solid cyan;
}
.Sat {
  border: 1px solid blue;
}
.Sun {
  border: 1px solid #7e4ccb;
}

.local {
  border-radius: 30px;
  background-color: white;
  color: black;
  border-width: thick;
}

.☀️ {
  color: #d3d2f1;
  background-color: #bd72df;
  font-size: 15px;
}

.nobull {
  list-style-type: none;
}
p {
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.menu {
  position: relative;
  margin-top: 15%;
  left: 50%;
  width: 0px;
  transform: translate(-50%, 55%);
}

.toggle {
  display: none;
}

.toggle + .style {
  width: 200px;
  height: 124px;
  border-radius: 50%;
  cursor: pointer;
  transform: translate(-50%, -50%) scale(1);
  z-index: 5;
  display: block;
  max-width: 200px;
  margin-bottom: 0;
  background: #ff0000;
  color: #fff;
  font-size: 2.5em;
  padding-top: 75px;
  text-align: center;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.menu p {
  max-width: 85px;
  text-align: center;
  margin: 0 auto;
  line-height: 15px;
  padding-top: 50px;
  font-weight: 700;
  font-size: 2em;
}

.toggle + .style:hover {
  -webkit-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.7);
  -ms-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.7);
  -o-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.7);
}

.toggle:checked + .style {
  transform: translate(-50%, -50%) scale(0.5);
}

.menu input[type="checkbox"] + label:before {
  content: "";
  position: absolute;
}

.toggle + .style:before,
.toggle + .style:after {
  content: "";
  position: absolute;
  margin: -3px;
  border-radius: 5px;
  transition: all 0.3s;
}

.toggle + .style:before {
  width: 30px;
  height: 0px;
  left: 10px;
  top: 25px;
}

.toggle + .style:after {
  width: 0px;
  height: 30px;
  left: 25px;
  top: 10px;
}

.toggle:checked + .style:before,
.toggle:checked + .style:after {
  transform: rotate(135deg);
}

.toggle ~ .tab {
  position: absolute;
  background: #ff0000;
  color: #fff;
  width: 120px;
  height: 120px;
  left: 0px;
  top: 0px;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.3s;
  opacity: 0;
  border-radius: 50%;
}

.toggle:checked ~ .tab {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.menu > .toggle:checked ~ .tab:nth-of-type(1) {
  top: -122px;
  left: 0px;
  transition-delay: 0s;
}

.menu > .toggle:checked ~ .tab:nth-of-type(2) {
  top: -74px;
  left: 120px;
  transition-delay: 0.125s;
}

.menu > .toggle:checked ~ .tab:nth-of-type(3) {
  top: 56px;
  left: 115px;
  transition-delay: 0.25s;
}

.menu > .toggle:checked ~ .tab:nth-of-type(4) {
  top: 122px;
  left: 0px;
  transition-delay: 0.375s;
}

.menu > .toggle:checked ~ .tab:nth-of-type(5) {
  top: 56px;
  left: -115px;
  transition-delay: 0.5s;
}

.menu > .toggle:checked ~ .tab:nth-of-type(6) {
  top: -74px;
  left: -120px;
  transition-delay: 0.625s;
}

.menu > .toggle:checked ~ .tab:nth-of-type(7) {
  top: 0px;
  left: -133.33333px;
  transition-delay: 0.75s;
}

.menu > .toggle:checked ~ .tab:nth-of-type(8) {
  top: -94.2809px;
  left: -94.2809px;
  transition-delay: 0.875s;
}
